# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# CocoaPods
Pods/

# Secrets
*.env
.env.*
